# .env file to set up your wordpress site

#
# Compose default env variables
#
COMPOSE_PROJECT_NAME=example

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#

NETWORK=proxy

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=test@example.com

#
# Database Container options
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version 

# Database image (mariadb|mysql)
DB_IMAGE=mysql

# Database version
DB_VERSION=latest

# Database container name
CONTAINER_DB_NAME=example-db

# Path to store your database files
DB_FILES=./data/db
CONTAINER_DB_FILES=/var/lib/mysql

# Root password for your database
MYSQL_ROOT_PASSWORD=P4ssw0rd!

# Database name, user and password for your wordpress
MYSQL_DATABASE=example-db
MYSQL_USER=example-dbuser
MYSQL_PASSWORD=P4ssw0rd!

#
# Site Container options
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version for
# theme and plugins compatibility.

# Site Image (wordpress)
SITE_IMAGE=wordpress

# Site Version
SITE_VERSION=latest

# Path to store your site files
SITE_FILES=./data/site
CONTAINER_SITE_FILES=/var/www/html

# Site container name
CONTAINER_SITE_NAME=example-wp

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Table prefix
WORDPRESS_TABLE_PREFIX=wp_

# Your domain (or domains)
PRIMARY_URL=https://example.com
URL_WITHOUT_HTTP=example.com
DOMAINS=example.com,www.example.com

WP_TITLE='Example Site'
WP_ADMIN_USER=admin
WP_ADMIN_TEMP_PASS=RandomTempPassword
WP_ADMIN_MAIL=test@example.com
WP_PERMA_STRUCTURE='/%year%/%monthnum%/%day%/%postname%/'
WP_LOCALE=en_US

#-----------------------------------------------------------------------
#
# Resources limit
#
# Here you can limit the memory usage and cpu for your containers, separately,
# site and database, the values below is the least expected to run a small
# WordPress site, and it's database, make sure you keep a watch on that
#

# Site container CPU limit
SITE_CPU_LIMIT='0.5'

# Site container Memory limit
SITE_MEMORY_LIMIT=300M

# Database container CPU limit
MYSQL_CPU_LIMIT='0.5'

# Database container Memory limit
MYSQL_MEMORY_LIMIT=300M

#-----------------------------------------------------------------------
#
# Logging options
#
# Please make sure to use this option carefuly, you may need to have some
# log to audit but you might end up to use a lot of disk space if you
# don't limit the maximum file size and the maximum mnumber of files
#
SITE_LOG_DRIVER=json-file
SITE_LOG_MAX_SIZE=800k
SITE_LOG_MAX_FILE=10

DB_LOG_DRIVER=json-file
DB_LOG_MAX_SIZE=200k
DB_LOG_MAX_FILE=10


#-----------------------------------------------------------------------
# 

CONTAINER_CLI_NAME=example-cli
CLI_VERSION=cli-php8.1

WAIT_HOSTS=mysql:3306,wordpress:80
WAIT_BEFORE_HOSTS=5
WAIT_AFTER_HOSTS=5
WAIT_HOSTS_TIMEOUT=300
WAIT_SLEEP_INTERVAL=60
WAIT_HOST_CONNECT_TIMEOUT=5 

#-----------------------------------------------------------------------
#
# Server Automation options
#
# The otions below are used by the script Server Automation to replace
# the strings in docker-compose file and .env file. If you are not
# using the script you may ignore it of delete these options
#
REPLACE_DB_SERVICE_NAME=new-site-db
REPLACE_SITE_SERVICE_NAME=new-site-wordpress 