services:
  mysql:
    container_name: ${CONTAINER_DB_NAME}
    image: ${DB_IMAGE}:${DB_VERSION}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: ${DB_CPU_LIMIT}
          memory: ${DB_MEMORY_LIMIT}
    networks:
      - wordpress-vpc
    volumes:
      - ${DB_FILES}:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    logging:
      driver: ${DB_LOG_DRIVER}
      options:
        max-size: ${DB_LOG_MAX_SIZE}
        max-file: ${DB_LOG_MAX_FILE}
    ports:
      - "127.0.0.1:${DB_LOCAL_PORT}:3306"

  wp:
    depends_on:
      - mysql
    container_name: ${CONTAINER_SITE_NAME}
    image: ${SITE_IMAGE}:${SITE_VERSION}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: ${SITE_CPU_LIMIT}
          memory: ${SITE_MEMORY_LIMIT}
    networks:
      - proxy
      - wordpress-vpc
    volumes:
      - ${SITE_FILES}:/var/www/html
      - ./conf.d/php.ini:/usr/local/etc/php/conf.d/php.ini
    environment:
      WEBSITE_ID: ${WEBSITE_ID}
      PRESSILLION_PING_SECRET: ${PRESSILLION_PING_SECRET}
      WORDPRESS_DB_HOST: ${CONTAINER_DB_NAME}:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}
      VIRTUAL_HOST: ${DOMAINS}
      LETSENCRYPT_HOST: ${DOMAINS}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    logging:
      driver: ${SITE_LOG_DRIVER}
      options:
        max-size: ${SITE_LOG_MAX_SIZE}
        max-file: ${SITE_LOG_MAX_FILE}

  wpcli:
    container_name: ${CONTAINER_CLI_NAME}
    depends_on:
      - mysql
      - wp
    image: ${CLI_IMAGE}:${CLI_VERSION}
    command: tail -f /dev/null
    networks:
      - wordpress-vpc
    volumes:
      - ${SITE_FILES}:/var/www/html
    environment:
      WORDPRESS_DB_HOST: ${CONTAINER_DB_NAME}:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_TABLE_PREFIX: ${WORDPRESS_TABLE_PREFIX}

networks:
  proxy:
    external: true
    name: proxy

  wordpress-vpc:
    driver: bridge